:host ::ng-deep {
  .opt-cls {
    font-family: 'Black Ops One', cursive;
    font-size: 20px;
  }

  .btn-cls {
    background-color: #c4e4f1;
    border: 1px solid rgba(67, 68, 83, 0.5);
    color: #333333;
    font-size: 11px;

    .ui-button-icon-left {
      margin-top: -0.4em;
    }
  }

}
