$light-blue: #c4e4f1;

:host ::ng-deep {
  width: inherit;

  .permission-component {
    .p-grid {
      margin: 0px;
      padding: 0px;
    }

    .m-l-5 {
      margin-left: .5rem;
    }

    .m-r-5 {
      margin-right: .5rem;
    }

    .btn-cls {
      background-color: $light-blue;
      border: 1px solid rgba(67, 68, 83, 0.5);
      color: #333333;
      font-size: 11px;
      .ui-button-icon-left {
        margin-top: -0.4em;
      }
    }

    .search-cls {
      border: 1px solid #c8c8c8;
      border-radius: 4px;

      .ui-inputtext {
        &:not(:last-child) {
          border: 0px;
        }
      }
    }
  }

  .ui-chkbox {
    .ui-chkbox-box {
      $hw: 15px;
      height: $hw;
      width: $hw;

      .ui-chkbox-icon {
        font-size: 13px;
      }
    }
  }

  .ui-table {
    font-size: 12px;
  }

  .img-wrap-size{
    overflow: hidden;
    display: flex;
    align-items: center;
  }

  .ui-treetable-scrollable-wrapper {
    border-right: 1px solid #cccc;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc;
  }
}
